@import '../elm-uniform/src/css/uniform.css';
@import './pages/model.css';
@import './pages/models.css';
@import './pages/route.css';
@import './pages/routes.css';
@import './pages/root.css';
@import './pages/settings.css';

*
{
    box-sizing: border-box;
}

html, body
{
    font-family: var(--font-family);
    overflow-y: scroll;
}

header
{
    padding: 0 1em;
    z-index: 2;

    &.uniform-main-nav
    {
        display: flex;
        justify-content: space-between;

        select {
            border: none;
        }

        .uniform-nav
        {
            flex-grow: 1;
            color: var(--gray-light);

            > *
            {
                /* color: color-mod(var(--white) alpha(0.6)); */
                color: var(--gray-light);
            }

            > ul
            {
                flex-grow: 1;
                list-style: none;
                margin: 0;
                padding: 0;

                li
                {
                    height: 100%;
                }

                a
                {
                    padding: 0.5em 0.5em;
                    height: calc(100% + 2px);
                    flex: 0 0 auto;
                    display: flex;
                    align-items: center;
                    padding: 0 1em;
                    border-style: solid none;
                    border-color: transparent;
                    border-top-width: 2px;
                    border-bottom-width: 2px;
                    text-decoration: none;
                    color: var(--gray-light);

                    &.hover, &:hover
                    {
                        color: var(--blue);
                        border-bottom-color: var(--blue);
                    }

                    &.active
                    {
                        color: var(--green-dark);
                        border-bottom-color: var(--green-dark);
                    }
                }
            }

            .uniform-dropdown > :last-child
            {
                right: 0;
                left: auto;
                top: calc(100%);
                border-top: 2px solid var(--blue-bright);
            }

        }

        a
        {
            text-decoration: none;
        }
    }

    .uniform-dropdown
    {
        ul
        {
            list-style: none;
            padding: 0;


            li
            {
                display: flex;
                padding: 0 !important;

                > a
                {
                    width: 100%;
                    padding: var(--half);
                }
            }
        }
    }

}

a.disabled, a:disabled
{
    pointer-events: none;
}

.uniform-card
{
    h1
    {
        font-size: 1.75rem;
        font-weight: 300;
        /* margin: 0 0 0.5rem 0; */
    }
}

pre, code
{
    color: #333;
    background: #f8f8f8;
}

pre
{
    padding: var(--half);
    display: block;
    overflow-x: auto;
    color: #333;
    background: #f8f8f8;
}
